<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

<title>RestaGuide</title>
<meta charset="utf-8">
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet"
	href="/materialize/css/materialize.min.css" media="screen,projection" />
<!-- Import Icons -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">

<link type="text/css" rel="stylesheet" href="/css/style.css" />
</head>

<body>
	<div th:replace="fragments/padrao :: cabecalho"></div>
	<br />
	<div class="container">
		<h5 class="titulo_h5">
			<a href="/formRestaurante"><i class="material-icons left">add_circle</i>Incluir
				Restaurante</a>
		</h5>
	</div>
	<table class="container striped">
		<thead>
			<tr>
				<th>Id</th>
				<th style="width:60%;">Nome</th>
				<th>Tipo de Comida</th>
				<th>Alterar</th>
				<th>Excluir</th>
			<tr>
		</thead>
		<tbody>
			<tr th:each="rest: ${rests}">
				<td th:text="${rest.id}"></td>
				<td th:text="${rest.nome}"></td>
				<td th:text="${rest.tipo.nome}"></td>
				<td><a th:href="@{/alterarRest(idRest=${rest.id})}"><button class="green accent-4 btn-small">
						<i class="material-icons">edit</i>
					</button></a></td>
				<td><a th:href="@{/excluirRestaurante(idRestaurante=${rest.id})}"><button  class="red accent-2 btn-small">
						<i class="material-icons">delete</i>
					</button></a></td>
			</tr>
		</tbody>

	</table>
	<ul class="pagination">
		<li th:class="${currentPage == 1 ? 'disabled' : ''}"><a th:href="${currentPage > 1 ? page-1: '#'}"><i class="material-icons">chevron_left</i></a></li>
		<li th:each="page:${pageNumbers}" th:class="${currentPage == page} ? 'active blue' : 'waves-effect'" ><a th:href="${page}"><span th:text="${page}"></span></a> </li>
		<li th:class="${currentPage == totalPages ? 'disabled' : ''}"><a th:href="${currentPage < totalPages ? page+1: '#'}"><i
				class="material-icons">chevron_right</i></a></li>
	</ul>
	<br />
	<br />


	<div th:replace="fragments/padrao:: footer"></div>
	</body>
</html>